<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.itmatic.botox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash" />
        <activity android:name=".LoginAsPatientActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".BotoxActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProviderLoginActivity" />
        <activity android:name=".ProviderProfileActivity" />
        <activity android:name=".PostcodeActivity" />
        <activity android:name=".SignUpAsDoctorActivity" />
        <activity android:name=".QualificationsActivity" />
        <activity android:name=".UploadsDocumentsActivity" />
        <activity android:name=".MyAppointmentActivity" />
        <activity android:name=".WorkingConditionsActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".RegisterActivity"></activity>
    </application>

</manifest>