<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.itmatic.botox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash" />
        <activity android:name=".Login_as_patientActivity" />
        <activity android:name=".Forgot_passwordActivity" />
        <activity android:name=".Botox_AppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProviderActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".Enter_your_postcodeActivity" />
        <activity android:name=".Sign_up_as_doctorActivity"></activity>
    </application>

</manifest>