<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.itmatic.botox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".BotoxApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Patient.LoginAsPatientActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".BotoxActivity" />
        <activity android:name=".Provider.ProviderLoginActivity" />
        <activity android:name=".Provider.ProviderProfileActivity" />
        <activity android:name=".PostcodeActivity" />
        <activity android:name=".Provider.SignUpAsDoctorActivity" />
        <activity android:name=".Provider.QualificationsActivity" />
        <activity android:name=".Provider.UploadDocumentFirstActivity" />
        <activity android:name=".Provider.MyAppointmentActivity" />
        <activity android:name=".Provider.WorkingConditionsActivity" />
        <activity android:name=".Provider.ScheduleActivity" />
        <activity android:name=".Patient.SignUpAsPatient" />
        <activity android:name=".Provider.UploadDocumentSecondActivity" />
        <activity android:name=".Patient.PatientProfileActivity" />
        <activity android:name=".Patient.PatientAppointmentsActivity" />
        <activity android:name=".Provider.ProviderPayment" />
        <activity android:name=".Patient.ChooseAreaActivity" />
        <activity android:name=".Patient.PriceActivity"></activity>
    </application>

</manifest>